<div class="chaos-header-body">
	<div>
		<img src="/assets/chaospurple.png" alt="chaos pruple logo" class="chaos-header-logo">
	</div>
	<div style="width:100%;">&nbsp;</div>
	<div class="chaos-header-section-link" [class.chaos-header-link-selected]="selectedPage==='home'" routerLink="/home"><span>Home</span></div>
	<div class="chaos-header-section-link" [class.chaos-header-link-selected]="selectedPage==='schedule'" routerLink="/schedule"><span>Schedule</span></div>
	<div class="chaos-header-section-link" [class.chaos-header-link-selected]="selectedPage==='roster'" routerLink="/roster"><span>Roster</span></div>
	<div class="chaos-header-section-link" [class.chaos-header-link-selected]="selectedPage==='staff'" routerLink="/staff"><span>Staff</span></div>
	<div class="chaos-header-section-link" [class.chaos-header-link-selected]="selectedPage==='aboutus'" routerLink="/aboutus"><span>About Us</span></div>
</div>
