<mat-card class="chaos-player-card">
    <img src="assets/chaospurple.png" class="chaos-player-logo">
    <div class="chaos-player-outer-frame">
    <div class="chaos-player-inner-frame" *ngIf="image" [style.background-image]="image">
    </div>
    <div class="chaos-card-info">
        <div class="chaos-card-info-chip">
            <span>{{ player.number }}</span>  
        </div>
          <div class="chaos-card-info-name">
              {{ player.nickName }}
            </div>
              <div class="chaos-card-info-position">
                  {{ player.position }}
        </div>
      </div>
  </div>
  
</mat-card>
