<mat-card style="padding:1px;">
<slideshow #slideshow
[height]="height"
[minHeight]="'280px'"
[autoPlay]="true"
[showArrows]="false"
[imageUrls]="images"
[lazyLoad]="images?.length > 1"
[autoPlayWaitForLazyLoad]="true">
</slideshow>
</mat-card>
<div style="width:50%;margin:10px 0;">
    <mat-card>
        Player fees:<br>
        Shirts(Gray/Purple): $24.00<br>
        Biannual field fee: $15.00<br>
        My Dad Tournament fee: $10.00<br>
        Total: $49.00
        Due by 6/11
    </mat-card>
</div>
