<mat-card style="padding:1px;">
	<slideshow #slideshow
	[height]="height"
	[minHeight]="'280px'"
	[autoPlay]="true"
	[showArrows]="false"
	[imageUrls]="images"
	[lazyLoad]="images?.length > 1"
	[autoPlayWaitForLazyLoad]="true">
	</slideshow>
</mat-card>
<div class="chaos-flex-split">
	<div class="chaos-flex-item chaos-chloe-background">
			
	</div>
	<div class="chaos-flex-item">
		<div class="chaos-section-header">Welcome to Chaos</div>
		<div class="chaos-home-item">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, recusandae dolores, 
				dolorum consequatur laudantium in, atque voluptatibus neque veniam ipsum mollitia optio 
				modi sit eius vero quaerat numquam accusantium maiores.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, recusandae dolores, 
				dolorum consequatur laudantium in, atque voluptatibus neque veniam ipsum mollitia optio 
				modi sit eius vero quaerat numquam accusantium maiores.
			</p>
		</div>
	</div>
</div>
